<ion-view view-title="Les Niveaux">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery({level:1})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/world.jpg');"></span>
                    <strong> <h2>  Niveau 1  </h2> </strong> <h2> 3x3 </h2>
                    <div class="card-footer text-right">
                      <!--  <i class="icon ion-ios-checkmark"></i> 50 pts 
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 7 min
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery({level:2})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/nkoyi.jpg');"></span>
                    <strong><h2>   Niveau 2  </h2></strong>  <h2> 4x4 </h2>
                    <div class="card-footer text-right">
                    <!--    <i class="icon ion-ios-checkmark"></i> 50 pts  
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 7 min
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery({level:3})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/djino.jpg');"></span>
                    <strong><h2>   Niveau 3  </h2></strong>  <h2> 5x5  <h2>
                    <div class="card-footer text-right">
                      <!--   <i class="icon ion-ios-checkmark"></i> 50 pts  
                       <div class="pull-left">
                            <i class="icon ion-clock"></i> 7 min
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
