<ion-view view-title="Nous contacter">
    <ion-content class="contents" style="padding: 3%">
        <div style="margin-top: 7%; padding-left: 5%; margin-bottom: 1%;">

        </div>

        <h4> Notre position</h4>
        <div class="mapWrap" data-tap-disabled="true" style="margin: 0%; padding: 0%; height:50%;">
            <map zoom="15" style="margin: 0%; padding: 0%; height: 100%;" center="-4.3063423,15.2946304"> 
            <marker  position="-4.3063423,15.2946304"></marker>    
        </map>
        </div>
        <div style=" margin-top: 6%; font-size:20px">
        </div>

        <div class="list card">
            <a class="item item-icon-left item-text-wrap"><i class="icon ion-ios-location"></i>    Boulevard du 30 Juin no 64, Kinshasa, Gombe  </a>
            <a class="item item-icon-left"><i class="icon ion-email"></i>    lacledeschateaux@bracongo.cd </a>
            <a class="item item-icon-left"><i class="icon ion-ios-telephone"></i>    +243 828500040/ +243 828500017</a>
            <a class="item item-icon-left"><i class="icon ion-ios-calendar"></i>Mardi - Samedi</a>
            <a class="item item-icon-left"><i class="icon ion-ios-time"></i>09h00 - 17h00</a>

        </div>


    </ion-content>
</ion-view>