<ion-view view-title="Détail Evenement">
    <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="hero slide-up" style="background-image: url({{event.image}});">
            <div class="content">
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">

            <a class="tab-item" href="tel:{{event.contact}}"><i class="icon ion-ios-telephone"></i>Appeler</a>
            <!--<a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>-->

        </div>
        <div style="text-align:justify; padding: 2%; ">
            <h3>{{event.titre}}</h3>
           

        </div>

         <div style="text-align:justify; padding: 2%; " class="card">
            
            <p ng-bind-html="event.description"></p>

        </div>


        <div ng-show="event.passed !== true">
            <div class="list card">

                <a class="item item-icon-left" href="tel:{{event.contact}}"><i class="icon ion-ios-telephone"></i>{{event.contact}}</a>


                <a class="item item-icon-left"><i class="icon ion-ios-time"></i>{{event.heure}}</a>


                <a class="item item-icon-left"><i class="icon ion-ios-location-outline"></i>{{event.lieu}}</a>


                <a class="item item-icon-left"><i class="icon ion-ios-location"></i>{{event.adresse}}</a>


                <a class="item item-icon-left"><i class="icon ion-ios-calendar"></i>{{event.date}}</a>

            </div>

            <div style="text-align:justify; padding: 2%; " class="card">
                   <div class="item">
                  <button class="button button-block  item-icon-left" ng-click="otherShare()" style="background:#B71C1C; color:#ffffff">
                        <i class="icon ion-android-share-alt"></i>PARTAGEZ
                    </button>
                   </div>
            </div>
            
        </div>
        <div ng-show="{{event.passed}}">
            Désolé cet évènement est passé. Veuillez
            <a ng-href="{{event.lien}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;" style="color:#039BE7"> Cliquer Ici </a> pour avoir un résumé de l'évènement. <br/>
        </div>

        <div class="item item-image">
            <!--                href="#/app/event/{{event.$id}}"-->
            <img class="full-image" src="{{event.image}}" />

        </div>

    </ion-content>
</ion-view>