<ion-view view-title="Informations Utiles">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" style="background-color: #ffffff;color: #000;padding: 2%; margin-top: 0%;margin-bottom: 0%">
    <div  style="margin-top: 6%;">
          <h1 class="Myh1"> Devenir Client</h1>
          <p  style="text-align: justify">
          Le client ou futur client étant au cœur des activités de BRACONGO, les contacts suivants sont mis à votre disposition entre 8h30 et 17h.</br>
      <i class="icon ion-ios-email"></i>  conso@bracongo.cd </br>
      <i class="icon ion-ios-telephone"></i>  +243 828 501 726 </br>
Si donc vous désirez faire affaire avec nous, contactez-nous à ces numéros et notre équipe fera une descente sur terrain pour confirmer que l’endroit que vous proposez rempli les conditions requises pour devenir un point de ventes BRACONGO.</br>
Ensuite, nous procéderons à l’ouverture de votre numéro de compte et nous lancerons les procédures liées à la création des points de vente exclusifs, Hôtel Restaurant Café, Boissons Gazeuses ou Bière.</br>
<a class="item item-icon-left" href="tel:+243 828 501 726" style="background-color: #da2d2d;color: #000;"><i class="icon ion-ios-telephone"></i>Appelez-nous maintenant</a>
          </p>
    </div>

    <div  style="margin-top: 5%;">
          <h1 class="Myh1"> Devenir Fournisseur</h1>
      <p style="text-align: justify" >    
        <strong> Il faut d’abord être identifié et répertorié sur la liste des potentiels fournisseurs BRACONGO. </strong></br>

Pour ce faire, il faut officiellement nous adresser votre demande d’agrément. Nous vous fournirons ainsi une fiche d’agrément à remplir reprenant toutes les conditions requises pour être fournisseur.</br>
<i class="icon ion-ios-email"></i>  cpachats@bracongo.cd </br>
<i class="icon ion-ios-telephone"></i>  +243 828 500 460</br>
<a class="item item-icon-left" href="tel:+243 828 500 460" style="background-color: #da2d2d;color: #000;"><i class="icon ion-ios-telephone"></i>Appelez-nous maintenant</a>
</p>
    </div>

  </ion-content>
</ion-view>
