<ion-view view-title="Contact">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
  
     <div class="hero no-header flat" style=" height: 100px">
            
        </div>
        
       <div class="row gallery" style="height: 100px">
    <div class="col col-30 " >
      <div class="card">
        <div class="item item-image" ng-click="gotoContact()">
<!--                href="#/app/event/{{event.$id}}"-->
                <img class="full-image" src="img/menu/black/contact.png" style="height: 100%; width: 100%">
            </div>
    </div>
     </div>
      <div class="col col-30 " >
    <div class="card">
        <div class="item item-image" ng-click="gotoJobs()">
<!--                href="#/app/event/{{event.$id}}"-->
                <img class="full-image" src="img/menu/black/jobs.png" style="height: 100%; width: 100%">
            </div>
    </div>
     </div>
      <div class="col col-30 " >
    <div class="card">
        <div class="item item-image" ng-click="gotoInfos()">
<!--                href="#/app/event/{{event.$id}}"-->
                <img class="full-image" src="img/menu/black/infos.png" style="height: 100%; width: 100%">
            </div>
    </div>
    </div>
</div>
  </ion-content>
</ion-view>