<ion-view view-title="Evènements">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
  
     <div class="list card"   ng-repeat="loisir in loisirs" >
<!--          href="#/app/event/{{event.$id}}"-->
            <div class="item item-divider">
               <h2> {{loisir.titre}}</h2>
            </div>
            <div class="item item-image" ng-click="detailLoisir(loisir.$id)">
<!--                href="#/app/event/{{event.$id}}"-->
                <img class="full-image" src="img/jazz_kiff.jpg">
            </div>

           <div class="item" style="margin: 0%; padding: 0%;">   
           <p>
              <a  href="#" class="subdued">
                <i class="icon ion-calendar "></i> {{loisir.date}}
               </a>
            </p>
          </div>
           
           <div class=" item" style="margin: 0%; padding: 0%;">
              
               <a class="button button-full button-assertive ink" href="#/app/loisir/{{loisir.$id}}"> Plus</a>
            </div>
      </div>
     
  </ion-content>
</ion-view>