<ion-view view-title="Concours">
  <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

        <div class="row gallery">
  <div class="col col-50 " ng-repeat="jeuItem in jeux">
      <div class="card">
<!--          href="#/app/event/{{event.$id}}"-->
            <div class="item item-divider item-text-wrap">
               <h4> {{jeuItem.titre}}</h4>
            </div>
            <div class="item item-image" ng-click="detailJeux(jeuItem.$id)">
<!--                href="#/app/event/{{event.$id}}"-->
                <img class="full-image"  src="{{jeuItem.image}}">
            </div>
           <div class="item item-text-wrap" style="margin-bottom: 0px;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;">
               <a class="item item-icon-left" ><i class="icon ion-ios-calendar"></i>{{jeuItem.date}}</a>
          </div> 
           <div class=" item" style="margin-bottom: 0px;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;">             
               <a class="button button-full button-assertive ink" href="#/app/jeux/{{jeuItem.$id}}"> Plus</a>
            </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>