<ion-view view-title="Login" align-title="left" cache-view="false">
    <ion-content style="background-color: #464646 center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon">

                </div>
            </div>
        </div>
        <div class="list" style="background-color: transparent important!;">
            <ion-md-input placeholder="Numéro de compte" highlight-color="balanced" ng-model="loginData.compte" pattern="[0-9]*"></ion-md-input>
            <ion-md-input placeholder="Mot de passe" highlight-color="balanced" type="password" ng-model="loginData.password"></ion-md-input>
            <!-- <ion-md-input placeholder="Mot de passe" highlight-color="energized" type="password" ng-model="loginData.passwd"></ion-md-input> -->
        </div>
        <div class="padding">
            <button ng-disabled=" !loginData.compte || !loginData.password || (loginData.password.length < 4)" ng-click="login()" class="button button-full  ink">Connexion</button>
        </div>
    </ion-content>
</ion-view>