<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/logo_big.png'); background-size: cover;"></span>
            <h2>Menu</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item menu-close ui-sref="app.accueil" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-ios-home"></i><b> &nbsp; &nbsp;&nbsp; &nbsp;Accueil</b>
                </ion-item>
                <ion-item menu-close ui-sref="app.listEvent" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-calendar"></i><b> &nbsp; &nbsp;&nbsp; &nbsp;Events</b>
                </ion-item>

                <ion-item menu-close ui-sref="app.listCampagnes" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-radio-waves"></i><b> &nbsp; &nbsp;&nbsp; &nbsp;Campagnes</b>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.listJeux" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-ios-game-controller-a"></i><b> &nbsp; &nbsp;&nbsp; &nbsp;Concours</b>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.produits" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-beer"></i>&nbsp; &nbsp;&nbsp; &nbsp; <b>Produits</b>
                </ion-item>

                <ion-item nav-clear menu-close ui-sref="app.barProche" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-android-pin"></i> <b>&nbsp; &nbsp;&nbsp; &nbsp;Bar le plus proche</b>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.serviceFete" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-person-stalker"></i> <b>&nbsp; &nbsp;&nbsp; &nbsp;Service Fête</b>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.cleCategorie" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-ios-wineglass"></i> <b>&nbsp; &nbsp;&nbsp; &nbsp;Clé des Châteaux</b>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.nousJoindre" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-email"></i> <b>&nbsp; &nbsp;&nbsp; &nbsp;Contact</b>
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.profile" class="side-menu-seperator item-icon-left myMenu">
                    <i class="icon ion-ios-game-controller-b"></i> <b>&nbsp; &nbsp;&nbsp; &nbsp;Jeux</b>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>