<ion-view view-title="Messages">
    <ion-content class="contents" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" padding="true">

        <div ng-repeat="message in messages">
            <div>
                <div class="bubble you">
                    <strong> {{ message.titre }} </strong><br> {{ message.contenu }}<br> <i> {{message.dateMessage | date: 'dd/MM/yyyy'}} </i>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </ion-content>
</ion-view>