<ion-view view-title="Points de Vente Proches de Vous">
  <ion-content class="contents splash"  scroll="false" >
   <button class="button button-icon ion-pinpoint" ng-click="centerOnMe()">Me localiser</button>
      <div class="mapWrap"  data-tap-disabled="true" ng-model="marche" style="width: 100%;height: 100%;"> 
        <map center="-4.3277476,15.3414303" zoom="15" style="width: 100%;height: 100%;"> 
          <!-- ngRepeat: pos in positions -->
          <marker ng-repeat=" pos in positions" position="{{pos.lat}},{{pos.lng}}"></marker>
        </map> 
      </div>
    
  </ion-content>
</ion-view>

