<ion-view view-title="Jeux">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/BG-JEUX.jpg');">
            <div class="content">
              <!--  <div class="avatar" style="background-image: url('img/top.jpg');"></div>-->
                
                
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static" style="background: #B71C1C;">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-play"></i> Jouer
            </a>
            <!--
            <a ui-sref="app.gallery({level:1})" class="tab-item">
                <i class="icon ion-images"></i> Sauvegardes
            </a>
            -->
        </div>
        <!-- <h4 class="content padding double-padding-x">Reccords</h4> -->
        <ion-slide-box slide-interval="10000" does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)">

          <ion-slide>
            
            <div class="box blue">
                    <h2 class="modal-title">D'jino</h2>
                    <img class="full-image" src="img/djino.jpg">
            </div>
          </ion-slide>

          <ion-slide>
            <div class="box blue">
                    <h2 class="modal-title">XXL</h2>
                    <img class="full-image" src="img/xxl.jpg">
            </div>
          </ion-slide>
          <ion-slide>
            
            <div class="box blue">
                    <h2 class="modal-title">Beaufort</h2>
                    <img class="full-image" src="img/beaufort.jpg">
            </div>
          </ion-slide>
          <ion-slide>
            
            <div class="box blue">
                    <h2 class="modal-title">Castel</h2>
                    <img class="full-image" src="img/castel.jpg">
            </div>
          </ion-slide>

          <ion-slide>
            
            <div class="box blue">
                    <h2 class="modal-title">Top</h2>
                    <img class="full-image" src="img/top.jpg">
            </div>
          </ion-slide>

          <ion-slide>
            
            <div class="box blue">
                    <h2 class="modal-title">Nkoyi</h2>
                    <img class="full-image" src="img/nkoyi.jpg">
            </div>
          </ion-slide>

          <ion-slide>
            
            <div class="box blue">
                    <h2 class="modal-title">Tembo</h2>
                    <img class="full-image" src="img/tembo.jpg">
            </div>
          </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>
