<ion-view view-title="Réalité augmentée" cache-view="false" style="background-color: #871b1b;">
    <ion-content class="contents" ng-class="{expanded:$scope.isExpanded}" style="background-color: #871b1b; background-size: cover; ">
        <div style="margin-top: 8%; padding-left: 5%; margin-bottom: 1%;">
        </div>
        <div style="color:#ffffff !important; text-align: center" class="animated bounceInRight">
            <h2 style="color:#ffffff !important;">Bienvenue</h2>
            <p style="color:#ffffff !important; text-align: center; margin-top:5%; font-size: 100%; ">
                Placer l'objectif de votre appareil devant une étiquette et profitez
            </p>
            <p style="color:#ffffff !important; text-align: center; ">
                <img src="img/icone-vizz23.png" />
            </p>
            <p style="color:#ffffff !important; text-align: center; margin-top:4%; font-size: 100%; ">
                <i> Le secret est dans la bouteille </i>
            </p>
        </div>
        <div class="row animated bounceInLeft ">
            <div class=" card col ">
                <div class="item item-image "><img src="img/marques/tembo.png " /></div>
            </div>
            <div class="card col">
                <div class="item item-image"><img src="img/marques/xxl.png" /></div>
            </div>
            <div class="card col">
                <div class="item item-image"><img src="img/marques/nkoyi.png" /></div>
            </div>
            <div class="card col">
                <div class="item item-image"><img src="img/marques/castel.png" /></div>
            </div>
        </div>
        <div style="color:#ffffff !important; text-align: center; margin-top: 4%">
            <a href="" onclick="cordova.exec(function(){console.log('ok')},function(){console.log('error')},'cordova2unity','launch',[]);" class="button button-outline  ink" style="border-color: #ffffff !important; color: #ffffff">C'est parti</a>
        </div>

    </ion-content>
</ion-view>